$primary: #03989e;
$blue: #111322;
$blue-2: #001d40;
$blue-3: #0e193a;
$blue-4: #0073ff;
$blue-6: #d6e9ff;
$blue-7: #101420;
$blue-8: #f0f7ff;
$blue-9: #006ef5;
$yellow: #fadb36;
$grey: #1a2323;
$white: #faffff;
$whiter: #ffffff;
$black: #000a0a;
$light-green: #cdeaec;
$green: #003d40;
$grey-2: #f4f7fa;
$grey-3: #615d5d;
$grey-4: #f5faff;
$grey-5: #808484;
$grey-6: #333b3b;
$grey-7: #C2C2C2;
$grey-8: #a4a5a7;
$black-2: #1a1a1a;
